:root {
  --primary-text-color: #757575;
  --title-text-color: #303030;
  --second-btn-color: #303030;
  --acent-color: #ff6c00;
  --main-white-color: #ffffff;
  --main-btn-color: #ffffff;
  --hero-color: #2f303a;
  --section-comand: #f5f4fa;
  --text-color: #9da4bd;
  --lonely-button: #188ce8;
  --after-title: #555555;
  --gradient: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2));
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

p,
h1,
h2,
h3,
h4 {
  margin: 0 auto;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

p,
h1,
h2,
h3,
h4 {
  margin: 0 auto;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

address {
  font-style: normal;
}

body {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.02em;
  font-size: 14px;
  line-height: 1.6;
  background-color: #E5E5E5;
  color: #4B321D;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 414px) {
  .container {
    width: 414px;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    width: 1024px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}

.section {
  padding-top: 90px;
  padding-bottom: 90px;
  width: 100%;
}

.section-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 1.25;
  margin: 0 auto;
}

.section-title.second {
  min-width: 1320px;
  margin-bottom: 55px;
}

.section-title.third {
  color: #fff;
  margin-bottom: 45px;
}

.section.brown {
  background: #4B321D;
  border-radius: 16px;
}

.btn-link {
  display: block;
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.45;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  max-width: 180px;
  height: 50px;
  padding: 10px 17px;
  text-align: center;
  background-color: transparent;
  text-decoration: none;
  border-radius: 3px;
  border: 3px solid #4B321D;
  cursor: pointer;
  color: #4B321D;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-link:hover {
  background-color: #4B321D;
  color: #fff;
}

.header {
  width: 100%;
  padding-top: 43px;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 36px;
}

.navigation__logo {
  margin-right: 580px;
}

.logo__icon {
  fill: #4B321D;
}

.menu__link {
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  text-decoration: none;
  padding-top: 20px;
  color: #4B321D;
}

.menu__link:hover,
.menu__link:focus {
  color: var(--acent-color);
}

.menu {
  background-color: #FFFDEE;
  padding: 32px 0;
}

.menu__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.15;
  color: #000000;
}

.menu__subtitle {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  margin: 16px 0;
  color: #000000;
}
@media screen and (min-width: 1024px) {
  .menu__subtitle {
    margin: 20px 0;
  }
}

.menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__name {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.02em;
  margin: 0 0 4px 0;
  color: #000000;
}

.menu__text {
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  color: #000000;
}

.menu__text.last {
  margin-bottom: 0;
}

.menu__text.short {
  max-width: 210px;
  margin: 0;
}

.menu__text.long {
  width: 225px;
  margin: 0 0 8px 0;
}

.menu__amount {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #000000;
  margin: 0;
}

.menu__price {
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #000000;
  font-weight: 700;
  margin: 0 0 0 32px;
}
@media screen and (min-width: 1024px) {
  .menu__price {
    margin: 0 0 0 47px;
  }
}

.name__wrap {
  max-width: 221px;
  margin-right: auto;
}

.deserts__name {
  margin: 0 0 8px 0;
}

.deserts__name.last {
  margin: 0;
}

.btn-menu {
  display: block;
  margin: 0 auto;
  margin-top: 32px;
  padding: 15px 24px;
  font-family: inherit;
  height: 50px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  min-width: 236px;
  height: 50px;
  background-color: #000000;
  border-radius: 25px;
  border: 2px solid #FFFDEE;
  cursor: pointer;
  color: #F3C653;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-menu:hover {
  background: #FFFFFF;
  border: 2px solid #F3C653;
}
@media screen and (min-width: 1024px) {
  .btn-menu {
    margin-right: 0;
  }
}

@media screen and (min-width: 1024px) {
  .menu__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 1024px) {
  .list__wrap {
    min-width: 411px;
  }
}

.benefits {
  background-color: #FFFDEE;
  padding: 32px 0;
}

.benefits__subtitle-text {
  margin-bottom: 20px;
}

.banefits__list {
  gap: 30px;
}

.benefits__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  padding: 0px 20px;
  margin: 0 auto;
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services.second {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.services-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services-text {
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 1.16;
  max-width: 630px;
  margin-bottom: 45px;
}

.services-img1 {
  margin-right: 100px;
}

.services-img2 {
  margin-left: 100px;
}

.text {
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.38;
  color: #F1F1EB;
}

@media screen and (min-width: 414px) {
  .online {
    padding-bottom: 0;
  }
}
@media screen and (min-width: 1024px) {
  .online {
    width: 100%;
  }
}
@media screen and (min-width: 1280px) {
  .online {
    width: calc(50% - 15px);
  }
}

.online-title {
  color: var(--main-white-color);
}

/* online-form */
.online-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (min-width: 1024px) {
  .online-form {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.online-input,
.online-text {
  width: 350px;
  height: 24px;
  margin-bottom: 44px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  padding-bottom: 8px;
  color: #ffffff;
  -webkit-transition: border-color 200ms linear;
  transition: border-color 200ms linear;
}
@media screen and (min-width: 414px) {
  .online-input,
.online-text {
    width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .online-input,
.online-text {
    width: 350px;
  }
}

.online-input::-webkit-input-placeholder {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
  -webkit-transition: border-color 200ms linear;
  transition: border-color 200ms linear;
}

.online-input::-moz-placeholder {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
  -moz-transition: border-color 200ms linear;
  transition: border-color 200ms linear;
}

.online-input:-ms-input-placeholder {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
  -ms-transition: border-color 200ms linear;
  transition: border-color 200ms linear;
}

.online-input::-ms-input-placeholder {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
  -ms-transition: border-color 200ms linear;
  transition: border-color 200ms linear;
}

.online-input::placeholder {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
  -webkit-transition: border-color 200ms linear;
  transition: border-color 200ms linear;
}

.online-input:focus,
.online-text:focus {
  border-color: #ffffff;
  outline: none;
}

.online-input:focus::-webkit-input-placeholder, .online-text:focus::-webkit-input-placeholder {
  color: #ffffff;
}

.online-input:focus::-moz-placeholder, .online-text:focus::-moz-placeholder {
  color: #ffffff;
}

.online-input:focus:-ms-input-placeholder, .online-text:focus:-ms-input-placeholder {
  color: #ffffff;
}

.online-input:focus::-ms-input-placeholder, .online-text:focus::-ms-input-placeholder {
  color: #ffffff;
}

.online-input:focus::placeholder,
.online-text:focus::placeholder {
  color: #ffffff;
}

.online-text::-webkit-input-placeholder {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
}

.online-text::-moz-placeholder {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
}

.online-text:-ms-input-placeholder {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
}

.online-text::-ms-input-placeholder {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
}

.online-text::placeholder {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
}

.online-text {
  height: 76px;
  resize: none;
  padding-bottom: 60px;
  overflow: hidden;
  outline: none;
}
@media screen and (min-width: 1024px) {
  .online-text {
    width: 100%;
  }
}

.footer {
  padding-bottom: 90px;
}

.footer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__icon {
  fill: #4B321D;
  margin-top: 85px;
}

.footer-link {
  font-weight: 400;
  font-size: 17px;
  line-height: 1.7;
  text-decoration: none;
  color: #4B321D;
}
.footer-link:hover, .footer-link:focus {
  color: var(--acent-color);
}

.menu__link:hover,
.menu__link:focus {
  color: var(--acent-color);
}

.list-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 178px;
}/*# sourceMappingURL=main.css.map */