.section-title {
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 400;
   font-size: 80px;
   line-height: 1.25;

   margin: 0 auto;
}

.section-title.second {
   min-width: 1320px;
   margin-bottom: 55px;
}

.section-title.third {
   color: #fff;
   margin-bottom: 45px;
}

.section.brown {
   background: #4B321D;
   border-radius: 16px;
}



